<app-page-header [pageTitle]="'Learn Tasks of Experiments by algorithm'" [errorMessage]="errorMessage">
  <app-refresh-button
    [observableDataResolved]="observableDataResolved"
    (newData)="handleNewData($event)"
  ></app-refresh-button>
</app-page-header>

<div fxLayout="column" fxLayoutGap="16px">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ algorithmName }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-learn-tasks-by-algorithm-table [hashWithTasks]="hashWithTasks"></app-learn-tasks-by-algorithm-table>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Test parameter results for presets</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-preset-boxplot [hashWithTasks]="hashWithTasks"></app-preset-boxplot>
    </mat-card-content>
  </mat-card>
</div>
