<app-page-header [pageTitle]="'Learn Tasks of Experiments by algorithm'" [errorMessage]="errorMessage">
  <app-refresh-button
    [observableDataResolved]="observableDataResolved"
    (newData)="handleNewData($event)"
  ></app-refresh-button>
</app-page-header>

<mat-card>
  <mat-card-header>
    <mat-card-title>{{ algorithmName }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-mat-table-shell [dataSource]="dataSource">
      <table mat-table matSort [dataSource]="dataSource">
        <ng-container matColumnDef="{{ column }}" *ngFor="let column of linkColumns">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
          <td mat-cell *matCellDef="let task">
            <a mat-button [routerLink]="task[column].linkUrl" [state]="task[column].state">{{ task[column] }}</a>
          </td>
        </ng-container>

        <ng-container matColumnDef="radio">
          <mat-radio-group [(ngModel)]="referencedRow">
            <th mat-header-cell *matHeaderCellDef>
              <mat-radio-button [value]="undefined"></mat-radio-button>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-radio-button [value]="row"></mat-radio-button>
            </td>
          </mat-radio-group>
        </ng-container>

        <ng-container matColumnDef="{{ column }}" *ngFor="let column of paramColumns">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
          <td mat-cell *matCellDef="let task">{{ task[column] }}</td>
        </ng-container>

        <ng-container matColumnDef="{{ column }}" *ngFor="let column of valueColumns">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column }}</th>
          <ng-container
            *ngIf="{
              referencedRow: referencedRow && referencedRow[column],
              unfocusThreshold: focusState.checked ? sortedValueColumns[column][focusState.index!] : undefined,
              heatmapRange: heatmapEnabled ? bestWorstValues[column] : undefined
            } as columnData"
          >
            <td
              app-learn-result-value-cell
              mat-cell
              *matCellDef="let task"
              [display]="task[column]"
              [compareTo]="columnData.referencedRow"
              [unfocusThreshold]="columnData.unfocusThreshold"
              [heatmapRange]="columnData.heatmapRange"
            ></td>
          </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let task; columns: columnsToDisplay"></tr>
      </table>

      <ng-container footer-actions>
        <app-learn-result-focus-button
          [dataSize]="dataSource.data.length"
          (focusChange)="focusState = $event"
        ></app-learn-result-focus-button>
        <app-learn-result-heatmap-button (enabled)="heatmapEnabled = $event"></app-learn-result-heatmap-button>
      </ng-container>
    </app-mat-table-shell>
  </mat-card-content>
</mat-card>
