.tasks-table {
  width: 100%;

  &__parameters {
    display: flex;
    overflow: hidden;
  }

  &__detail-row {
    height: 0;

    &--borderless > td {
      border-bottom-width: 0px;
    }
  }

  &__task-row {
    &:hover {
      cursor: pointer;
    }

    &--borderless > td {
      border-bottom-color: transparent;
    }
  }
}

.params-table-wrapper {
  display: flex;
  flex: 1 1 100%;
  max-width: 50%;
  justify-content: center;
}

.params-table {
  &__key {
    font-size: 13px;
    text-align: right;
  }
}
