.page-header {
  display: flex;
  align-items: center;
  margin: -16px -16px 16px -16px;
  padding: 32px 16px;
  font-size: 20px;
  font-weight: 500;

  &__error-icon {
    margin-left: 8px;
  }

  &__actions {
    margin-left: auto;
  }
}
