@import '~@angular/material/theming';

:host {
  white-space: nowrap;

  &.transparent,
  &.transparent-inner > * {
    opacity: 0.3;
  }

  &.transparent-inner {
    opacity: unset;
  }

  &.borderless {
    border-bottom-color: transparent !important;
  }
}

.diff-label {
  border-radius: 4px;
  padding: 3px 4px;

  &--better,
  &--worse {
    color: $light-primary-text;
  }

  &--better {
    background-color: mat-color(mat-palette($mat-green, 600));
  }

  &--worse {
    background-color: mat-color(mat-palette($mat-red, 600));
  }
}
