<div fxLayout fxLayoutAlign="center center">
  <app-filter-input fxFlex="50%" (filter)="dataSource.filter = $event"></app-filter-input>
</div>
<ng-content select="table[mat-table]"></ng-content>
<div class="footer">
  <div fxLayout fxLayoutGap="16px">
    <ng-content select="ng-container[footer-actions]"></ng-content>
    <button mat-raised-button (click)="exportToCsv()" [disabled]="!dataSource?.filteredData?.length">
      <mat-icon>save_alt</mat-icon>
      Export to csv
    </button>
  </div>
  <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>
