.filter-header {
  position: relative;
  &__actions {
    padding-bottom: 1.25rem;
    padding-left: 16px;

    &--absolute {
      position: absolute;
      right: 0;
    }
  }
}

.table-container {
  overflow-y: hidden;
  overflow-x: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
}
