[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
requests = "*"
py-cpuinfo = "==7.0.0"
nvgpu = "*"
psutil = "*"
paramiko = "*"
tensorflow = "==1.15.4"
sklearn = "*"
numpy = "*"
pandas = "*"
gensim = "*"
"hurry.filesize" = "*"

[requires]
python_version = "3.6.7"
